footer.footer
    a.nav__el(href='/')
        .footer__logo
            img(src='/img/logo-pink.png' height='63.3' width='63' alt='Concerto Logo') 
            p Concerto
        
    ul.footer__nav 
        li: a(href='https://www.linkedin.com/in/james-treap/' target='_blank') &copy; by James Treap
        li: a(href='#') About
        li: a(href='#') Contact