doctype html
html(lang='en')
    head
        block head
            meta(charset='UTF-8')
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="description", content="Concerto - Find your favourite Music Artists on Tour")
            meta(http-equiv="Content-Language" content="en-US")
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            title Concerto | #{title}
    body
        //- Header
        include _header

        //- Content
        block content

        //- Footer
        include _footer

        script(src='/js/bundle.js')
        