.main {
    padding-top: 13em;
}

h1 span {
    color: var(--white);
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    background: -webkit-linear-gradient(var(--grad-peach), var(--grad-pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-get-started {
    margin: 3em 2em 0em 0em;
    background: -webkit-linear-gradient(315deg, var(--grad-peach), var(--grad-pink));
    background-color: var(--grad-pink);
    color: var(--black);
    border: 0px;
}

.btn-get-started:hover {
    border: 0px;
}

ul {
    margin-left: 1.1em;
}

.body-p {
    font-size: 1.8em;
    max-width: 35em;
}