body {
	line-height: 1.6;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	color: #777;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
}

.span-all-rows {
	grid-row: 1 / -1;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.ma-bt-md {
	margin-bottom: 3rem !important;
}

.ma-bt-lg {
	margin-bottom: 2.5rem !important;
}

.right {
	text-align: right !important;
}

.line {
	margin: 6rem 0;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
}

.alert {
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9999;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 1.6rem 15rem;
	-webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
	background-color: #0ec061;
}
.alert--error {
	background-color: #ee2b27;
}

.heading-secondary {
	font-size: 2.25rem;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--base-pink);
}
.heading-secondary--error {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#ff7730),
		to(#eb4d4b)
	);
	background-image: linear-gradient(to right, #ff7730, #eb4d4b);
	font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
	padding: 1rem 1.5rem;
	line-height: 1;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(rgba(255, 192, 138, 0.85)),
		to(rgba(233, 30, 99, 0.85))
	);
	background-image: linear-gradient(
		to bottom right,
		rgba(255, 192, 138, 0.85),
		rgba(233, 30, 99, 0.85)
	);
}

.heading-tertirary {
	font-size: 2.75rem;
	text-align: right;
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	width: 70%;
	z-index: 10;
}

.btn,
.btn:link,
.btn:visited {
	font-size: 1.6rem;
	padding: 1.4rem 3rem;
	border-radius: 10rem;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	font-weight: 400;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: none;
	cursor: pointer;
}

.btn:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
	outline: none;
	background-color: #2e864b;
}

.btn--white {
	background-color: #fff;
	color: #777;
}
.btn--white::after {
	background-color: #fff;
}

.btn--green {
	background-color: var(--base-pink);
	color: #fff;
}
.btn--green::after {
	background-color: var(--base-pink);
}

.btn--small {
	padding: 1.25rem 3rem !important;
	font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
	background-color: #55c57a;
	color: #fff;
	font-size: 1.4rem;
	padding: 1.25rem 3rem;
	border-radius: 10rem;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
	text-decoration: none;
	font-weight: 400;
	border: none;
}

.btn-small:hover {
	background-color: #7dd56f;
}

.btn-text:link,
.btn-text:visited {
	color: #55c57a;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #55c57a;
	padding: 3px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.btn-text:hover {
	background-color: #55c57a;
	color: #fff;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.btn-text:active {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
	outline: none;
	outline: 3px solid #55c57a;
	outline-offset: 3px;
}

/* -----------------------------------
Root
------------------------------------- */
:root {
	--white: #fff;
	--base-pink: #ff377b;
	--grad-pink: #e91e63;
	--grad-peach: #ffc08a;
	--bg-color: #200624;
	--hover-color: #11b7e5;
	--black: #0a050c;
	--site-width: 110rem;
	--body-padding: 10%;
	--button-tran: 0.2s;
	--section-rotate: 9vw;
}

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	color: var(--grad-pink);
	transition: all var(--button-tran);
	-webkit-transition: all var(--button-tran);
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 0;
}

h1 {
	color: #ff377b;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.2;
	margin: 0 0 20px 0;
}

h2 {
	color: var(--base-pink);
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	padding-bottom: 0.5em;
}

h4 {
	padding-bottom: 5px;
}

button {
	border: 0px solid var(--base-pink);
	background-image: linear-gradient(
		135deg,
		var(--grad-peach),
		var(--grad-pink)
	);
	color: var(--white);
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	padding: 10px 32px;
	border-radius: 2px;
	cursor: pointer;
}

button:hover {
	-webkit-transform: translateY(var(--button-tran));
	transform: translateY(var(--button-tran));
}

/* ----------------------------------
Header
-------------------------------------- */
.header,
.footer {
	background-color: var(--black);
	padding-left: var(--body-padding);
	padding-right: var(--body-padding);
	height: 8rem;
	z-index: 100;

	display: flex;
	justify-content: space-between;
	align-items: center;

	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: justify;

	display: -ms-flexbox;
	-ms-flex-pack: justify;
	-ms-flex-align: center;
}

.header__logo,
.footer__logo {
	display: flex;
	align-items: center;
}

.header__logo img,
.footer__logo img {
	height: 5rem;
	padding-right: 10px;
}

.section-header {
	position: relative;
	height: 38vw;
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--section-rotate)),
		0 100%
	);
	-webkit-clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--section-rotate)),
		0 100%
	);
}

.footer {
	border: 5px solid;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;

	border-image-source: linear-gradient(
		to top left,
		var(--grad-peach),
		var(--grad-pink)
	);
	border-image-slice: 1;
}

.footer__nav {
	list-style: none;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	font-size: 1.5rem;
}

.footer__nav li {
	margin-left: 1.5rem;
}

.footer__nav a {
	font-size: 1.4rem;
	color: var(--white);
	text-decoration: none !important;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nav--user {
	display: flex;
	display: -ms-flexbox;
}

.nav__el,
.nav__el:link,
.nav__el:visited,
.footer__nav a {
	color: #f7f7f7;
	text-transform: uppercase;
	font-size: 1.6rem;
	text-decoration: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	font-weight: 400;
	background: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
}
.nav__el:hover,
.nav__el:active,
.footer__nav a:hover,
.footer__nav a:active {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	color: var(--base-pink);
}
.nav__el:not(:last-child) {
	margin-right: 3rem;
}
.nav__el:focus {
	outline: none;
}
.nav__el--cta {
	padding: 1rem 3rem;
	border: 1px solid currentColor !important;
	-webkit-transition: all var(--button-tran);
	transition: all var(--button-tran);
}
.nav__el--cta:hover {
	background-color: #f7f7f7;
	color: #777;
	text-shadow: none;
	border-color: #f7f7f7;
}

::-webkit-scrollbar {
	width: 10px;
	color: var(--black);
}

/* Track */
::-webkit-scrollbar-track {
	background: linear-gradient(to bottom, var(--black), var(--bg-color));
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaaaaa;
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, var(--grad-pink), var(--grad-peach));
}

/* -----------------------------------
Main body content
-------------------------------------- */
.main {
	background: linear-gradient(var(--black) 10%, #200624c2 40%),
		url(../img/backgrounds/webb-dark.png);
	padding: 6em var(--body-padding) 6rem;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

/* -----------------------------------
User Page
------------------------------------- */

.user-view {
	background-color: #fff;
	max-width: 120rem;
	margin: 0 auto;
	min-height: 100vh;
	border-radius: 3px;
	overflow: hidden;
	-webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
	box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.user-view__menu {
	-webkit-box-flex: 32rem;
	-ms-flex: 32rem 0 0px;
	flex: 32rem 0 0;
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(var(--grad-peach)),
		to(var(--grad-pink))
	);
	background-image: linear-gradient(
		to right bottom,
		var(--grad-peach),
		var(--grad-pink)
	);
	padding: 4rem 0;
}
.user-view__content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 7rem 0;
}
.user-view__form-container {
	max-width: 68rem;
	margin: 0 auto;
	padding: 0 8rem;
}

.nav__search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media only screen and (max-width: 37.5em) {
	.nav__search {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		margin-bottom: 1.2rem;
	}
}
.nav__search-btn {
	background: none;
	border: none;
	margin-right: 0.8rem;
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}
.nav__search-btn svg {
	height: 2rem;
	width: 2rem;
	fill: #f7f7f7;
}
.nav__search-input {
	font-family: inherit;
	font-weight: inherit;
	text-transform: uppercase;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #f7f7f7;
	padding-bottom: 3px;
	border-bottom: 1px solid #999;
	width: 18rem;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav__search-input::-webkit-input-placeholder {
	color: #999;
}
.nav__search-input:-ms-input-placeholder {
	color: #999;
}
.nav__search-input::-ms-input-placeholder {
	color: #999;
}
.nav__search-input::placeholder {
	color: #999;
}
.nav__search-input:focus {
	outline: none;
	width: 25rem;
	border-bottom: 1px solid currentColor;
}
.nav__user-img {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	margin-right: 1rem;
}

.side-nav {
	list-style: none;
}
.side-nav li {
	margin: 1rem 0;
	border-left: 0 solid #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
	border-left: 4px solid #fff !important;
}
.side-nav--active a {
	-webkit-transform: translateX(-3px);
	transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
	padding: 1rem 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 400;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
	-webkit-transform: translateX(3px);
	transform: translateX(3px);
}
.side-nav svg {
	height: 1.9rem;
	width: 1.9rem;
	fill: #f7f7f7;
	margin-right: 2rem;
}

.admin-nav {
	margin-top: 5.5rem;
}
.admin-nav__heading {
	margin: 0 5rem 1.5rem 4rem;
	padding-bottom: 3px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #f2f2f2;
	border-bottom: 1px solid currentColor;
}

.error {
	position: absolute;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 80rem;
	text-align: center;
}
.error__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.error__msg {
	font-size: 2.5rem;
	font-weight: 700;
	max-width: 50rem;
	margin: 0 auto;
}

.login-wrapper {
	width: 80%;
	margin: auto;
	background: linear-gradient(
			280deg,
			rgba(233, 30, 99, 0.6) 80%,
			#ffc18ae1 100%
		),
		url('../img/form-bg.jpg') no-repeat;
	background-size: cover;
	border-radius: 5px;
}

.login-form {
	margin: 0 0 0 auto;
	max-width: 50rem;
	background-color: #fff;
	-webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
	box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
	padding: 5rem 7rem;
	border-radius: 0px 5px 5px 0px;
}

.form__input {
	display: block;
	font-family: inherit;
	font-size: 1.5rem;
	color: inherit;
	padding: 1.25rem 1.75rem;
	border: none;
	width: 100%;
	background-color: #fff;
	background-color: #f2f2f2;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form__input:focus {
	outline: none;
	border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
	border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
	color: #bbb;
}

.form__group:not(:last-child) {
	margin-bottom: 2.5rem;
}

.form__label {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}

.form__photo-upload {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.6rem;
}

.form__user-photo {
	height: 7.5rem;
	width: 7.5rem;
	border-radius: 50%;
	margin-right: 2rem;
}

.form__upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form__upload:focus + label {
	outline: 3px solid #55c57a;
	outline-offset: 3px;
}

.form__upload + label {
	color: #55c57a;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #55c57a;
	padding: 3px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
.form__upload + label:hover {
	background-color: #55c57a;
	color: #fff;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}
